@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Mono';
    src: url('../asset/Mono/MonoMedium.ttf');
    font-weight: 500
}
@font-face {
    font-family: 'Mono';
    src: url('../asset/Mono/MonoLight.ttf');
    font-weight: 300
}
/* Sytrene B Font for Titles */
@font-face {
    font-family: 'StyreneB';
    src: url('../asset/MSBee/MSBee-Black.ttf');
    font-weight: 900;    
}

@font-face {
    font-family: 'MP';
    src: url('../asset/MP/MP-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'MP';
    src: url('../asset/MP/MP-Regular.ttf');
    font-weight: 400;
}


@tailwind utilities;